cat > .gitignore << 'EOF'
# Environment
.env
.env.local
.env.*.local

#Binarires
main
inventory-app

# Build
bin/
tmp/
*.exe
*.exe~

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Go
*.log
vendor/
go.sum

# Dependencies
node_modules/
EOF

# Docker
docker-compose.overide.yml